.header {
  height: 18.681318681%;
  background: $headerColor;
  flex-direction: column;
  align-items: center;
  &__border-top {
    height: 2.652519893%;
    width: 100%;
    background: black;
  }
  &__image {
    font-size: 5.5vmin;
    height: 57.647058823%;
    margin-top: 1.326259946%;
  }
  &__text {
    margin-top: 0.530503978%;
    font-size: 2vmin;
  }
}