// Colors
$backgroundBody: #E5E5E5;
$headerColor: #fcdd6f;
$itemBackground: white;
$itemBorderColor: #c9c9c9;
$loadingIconColor: lightgray;
$linkColor: #C7C7C7;
$deleteBackground: #E37171;
$deleteColor: black;
$footerBackground: #fcdd6f;

// Initialization
@import "init/reset";
@import "init/init";

// Main part
@import "header/header";
@import "main/main";
@import "footer/footer";